<ion-view view-title="Home">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap" ng-click="recordMovement(1)">
              Record
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap" ng-click="stopMovement()">
              Stop
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap" ng-click="createBaseline()">
              Reset
          </div>
        </div>
        {{ gns }}
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" >
        </canvas> 
        {{ moves }}
      </div>
    </div>
  </ion-content>
</ion-view>